.math {
  font-style: italic;
  background-color: #eee;
}

.locations, .options {
  margin-bottom: 1em;
}

.option input {
  width: 3em;
  text-align: right;
}

.fact-name {
  font-weight: bold;
}

.fact-value {
  text-align: right;
}
